html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 0px;
}

.main-navbar{
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 98px; /* Height of navbar */
    bottom: 0;
    left: -100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    z-index: 99;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 40px;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}



.bg-purple {
  background-color: #6f42c1;
}
